* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin Condensed', sans-serif;
}

body {
    background-color: #4f98ca;
    opacity: 0.9;
    font-size: 13px;
    color: #272727;
}

main {
    display: flex;
    padding: 0.3em;
}

[draggable] {
    user-select: none;
    -webkit-user-drag: element;
}

/* MENU CREAR COLUMNAS -- */
.boxAddColumn {
    border-radius: 0.2em;
    background-color: #effffb;
    width: 11.5em;
    /*height: 2.5em;*/
    margin: 0.5em 0.5em 0 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
}

input.textAddColumn {
    all: unset;
    padding: 0.5em;
    margin: 0.25em;
    border-radius: 0.2em;
    opacity: 0.75;
    font-size: 75%;
    /*height: auto;*/
}

input.textAddColumn:hover {
    background-color: #d8d8d8;
}

.addDelColumn {
    align-items: center;
    display: none;
}

.buttonAddColumn {
    background-color: #4f98ca;
    color: #272727;
    height: 2em;
    width: 8em;
    margin: 0 0.25em 0.25em 0.25em;
    font-size: 75%;
}

.imgHideAddColumn {
    width: 10px;
    height: 10px;
    opacity: 0.75;
    margin: 5px;
}

/* -- MENU CREAR COLUMNAS */

/*
::placeholder {
    color: black;
}*/

/* DISEÑO COLUMNAS -- */
.column {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0.3em;
    /*min-height: 50vh;*/
    border-radius: 0.2em;
    height: fit-content;
    background-color: #effffb;
    transition: 0.5s;
    width: 150px;
}


.headColumn {
    display: flex;
    align-items: center;
    width: 90%;
}

.column h5 {
    background-color: #effffb;
    width: 100%;
    text-align: left;
    border-radius: 0.2em 0.2em 0 0;
    padding: 0.4em 0.4em;
}

.column:hover {
    box-shadow: 10px 12px 20px -13px rgba(0, 0, 0, 0.75);

}

.tasks {
    flex: 1;
    width: 100%;
    background-color: #effffb;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 0.3em;
    border: solid #8f8e8e 1px;
    background-color: #50d890;
    border-radius: 0.2em;
    margin: 0.2em;
    cursor: pointer;
}

/* -- DISEÑO COLUMNAS */

/* MENU CREAR TAREAS -- */
.boxAddTask {
    border-radius: 0.2em;
    background-color: #effffb;
    width: 11.5em;
    height: 2em;
    margin: 0 0.5em 0 0.5em;
    display: flex;
    flex-direction: column;
    opacity: 1;
}

textarea.textAddTask {
    all: unset;
    padding: 0.5em;
    margin: 0.25em 0.25em 0 0.25em;
    border-radius: 0.2em;
    opacity: 0.75;
    font-size: 75%;
    height: auto;
}

textarea.textAddTask:hover {
    background-color: #d8d8d8;
}

.addDelTask {
    align-items: center;
    display: none;
}

.buttonAddTask {
    background-color: #4f98ca;
    color: #272727;
    height: 2em;
    width: 6em;
    margin: 0 0.25em 0.25em 0.25em;
    font-size: 75%;
}

.imgHideAddTask {
    width: 10px;
    height: 10px;
    opacity: 0.75;
    margin: 5px;
}

/* -- MENU CREAR TAREAS */